[client-server]
socket=/var/lib/mysql/mysql.sock

[mysqld]
user					= mysql
basedir					= /usr
datadir					= /var/lib/mysql
bind-address			= 0.0.0.0
expire_logs_days		= 14
character-set-server	= utf8mb4
collation-server		= utf8mb4_general_ci
